print(str(2)+"HELLO")  Type Casting

In [1]:
print(str(2)+"HELLO")

2HELLO

In [6]:
print(2+int("100"))
#comments

102

In [7]:
print("GOOD")

GOOD

In [9]:
print(int("45"))

45

In [13]:
name = "SHAHBAZ"
print("MY NAME IS___________")

MY NAME IS___________

In [15]:
name = "SHAHBAZ"
print("MY NAME IS"+name)

MY NAME ISSHAHBAZ

SyntaxError: invalid syntax (<ipython-input-18-1b61b090e7bc>, line 3)

In [32]:
name = "SHAHBAZ"
age = 24
print("MY NAME IS "+name+" and my Age is"+str(age))

MY NAME IS SHAHBAZ and my Age is24

In [22]:
print("my Name is {} and my age is {}".format(name, age))

my Name is SHAHBAZ and my age is 23

In [23]:
print("my Name is {1} and my age is {0}".format(name, age))

my Name is 23 and my age is SHAHBAZ

format is a function by which we can avoid type casting

In [35]:
print("my Name is {0} and my age is {1}".format(name, age))

my Name is SHAHBAZ and my age is 24

In [36]:
print("my Name is {1} and my age is {0}".format(name, age))

my Name is 24 and my age is SHAHBAZ

In [34]:
print(f"my Name is {name} and my age is {age}")

my Name is SHAHBAZ and my age is 24

In [33]:
#First to run where variable defined then  wher you want to update run that line
print("my Name is {1} and my age is {0}".format(name, age))

my Name is 24 and my age is SHAHBAZ

In [39]:
print("abcdf")

abcdf

In [43]:
#it'll xply  the string output
print(6*"HELLo "*6)

HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo HELLo

In [56]:
a =1067
b= 1054
c= a/b
d= a*b
c #it'll work last line of code
#double // for int division
#single / for float division
#division by default give ans in float 
#round func round off the value till desired number of digits after point
print(c)
print(d)
round(c,4)

1.0123339658444024
1124618

1.01